*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Mukta', sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #1a1a1a;
}

img,
svg {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
  color: #EDF1F7;
}

.border {
  border: 1px solid red;
}

p {
  font-size: 16px;
  color: #959698;
  letter-spacing: 1px;
  line-height: 140%;
}

.container {
  border: 1px solid red;
  max-width: 1440px;
  margin: 0 auto;
  padding: 36px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.container-info {
  max-width: 576px;
  border: 1px solid green;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.container-img {
  border: 1px solid green;
}

.spiderman {
  width: 150%;
  -webkit-transform: translate3d(-250px, 0, 0);
          transform: translate3d(-250px, 0, 0);
}

.btn {
  display: inline-block;
  padding: 12px 32px;
  border-radius: 3px;
  -webkit-transform: skewX(-10deg);
          transform: skewX(-10deg);
  text-transform: uppercase;
  background: linear-gradient(225deg, #ea1d22 0%, #b31317 100%);
  position: relative;
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease;
}

.btn::after {
  content: "";
  opacity: 0;
  display: block;
  position: absolute;
  top: -2px;
  left: -2px;
  width: 30%;
  height: 70%;
  border-radius: 3px;
  border-top: 3px solid #fff;
  border-left: 3px solid #fff;
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease;
}

.btn::before {
  content: "";
  opacity: 0;
  display: block;
  position: absolute;
  bottom: -2px;
  right: -2px;
  width: 30%;
  height: 70%;
  border-radius: 3px;
  border-bottom: 3px solid #fff;
  border-right: 3px solid #fff;
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease;
}

.btn:hover {
  -webkit-transform: skewX(-10deg) scale(1.05);
          transform: skewX(-10deg) scale(1.05);
}

.btn:hover::after {
  opacity: 1;
}

.btn:hover::before {
  opacity: 1;
}

.btn-secondary {
  margin-left: 16px;
  display: inline-block;
  padding: 10px 32px;
  border-radius: 3px;
  -webkit-transform: skewX(-10deg);
          transform: skewX(-10deg);
  text-transform: uppercase;
  background: transparent;
  border: 2px solid red;
  position: relative;
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease;
}

.btn-secondary::after {
  content: "";
  display: block;
  position: absolute;
  top: -1px;
  left: -1px;
  z-index: -1;
  width: 0%;
  height: 105%;
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease;
  border-radius: 3px;
  background: linear-gradient(225deg, #ea1d22 0%, #b31317 100%);
}

.btn-secondary:hover {
  -webkit-transform: skewX(-10deg) scale(1.05);
          transform: skewX(-10deg) scale(1.05);
}

.btn-secondary:hover::after {
  width: 102%;
}

header {
  width: 100%;
  padding-top: 16px;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 16px;
  max-width: 1440px;
  margin: 0 auto;
}

.nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.nav-list li + li {
  margin-left: 24px;
}

.logo {
  max-width: 88px;
}

.nav-link {
  display: inline-block;
  padding: 8px 16px;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 200;
  position: relative;
  color: #959698;
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease;
}

.nav-link::after {
  content: "";
  display: block;
  position: absolute;
  top: -40px;
  left: 47.5%;
  width: 2px;
  height: 0px;
  border-radius: 25px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(233, 29, 34, 0)), to(#e91d22));
  background: linear-gradient(180deg, rgba(233, 29, 34, 0) 0%, #e91d22 100%);
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease;
}

.nav-link:hover {
  color: #EDF1F7;
}

.nav-link:hover::after {
  height: 50px;
}

.nav-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
}

.nav-social svg {
  cursor: pointer;
  margin-left: 16px;
  width: 20px;
}

.nav-social svg path,
.nav-social svg circle {
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease;
}

.nav-social svg:hover path,
.nav-social svg:hover circle {
  fill: #F02A2F;
  -webkit-transform: translate3d(0, -2px, 0);
          transform: translate3d(0, -2px, 0);
}
/*# sourceMappingURL=style.css.map */